
<div class="box">
  <h1>Doctors</h1>

  <%= link_to "Add New Doctor", new_doctor_path, class: "li_to" %>

  <h2><%= @doctors.length <= 0 ? "No Doctors Assigned" : "" %></h2>

  <ul>
  <% @doctors.each do |doctor| %>
    <li class="li-container">
      <%= link_to doctor.name, doctor, class: "li_to" %>
    </li>
    <% end %>
  </ul>
</div>
