body {
  font-size: 2rem;
  background-color: #def;
}

li {
  list-style-type: none;
}

.li_to {
  width: 80%;
  height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: #212121;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px 300px;
  margin: 0 auto;
}