<h1><%= @doctor.name %>: Appointments</h1>

<%= link_to 'Make an Appointment', new_doctor_appointment_path(@doctor), class: "li_to" %>
<hr />

<h2>Times</h2>
<ul>
  <% @time.each do |time| %>
    <li>
      <%= time.client.c_name %>
      <br />
      <%= link_to 'Remove', doctor_appointment_path(@doctor, time), method: :delete, class: "li_to" %>
    </li>
  <% end %>
</ul>