 <div class="ui grid">
  <nav class="four wide column">
    <ul class="ui vertical fluid tabular menu">
      <li class="item active">
        <%= link_to "Doctors", doctors_path %>
      </li>
      <li class="item active">
        <%= link_to "See a new Doctor", new_doctor_path %>
      </li>
      <li class="item active">
        <%= link_to "Clients", clients_path %>
      </li>
      <li class="item active">
        <%= link_to "Add Client", new_client_path %>
      </li>

    </ul>
  </nav>
</div>