
    <ul class="ui four item inverted menu">
      <li class="item">
        <%= link_to "Doctors", doctors_path %>
      </li>
      <li class="item">
        <%= link_to "See a new Doctor", new_doctor_path %>
      </li>
      <li class="item">
        <%= link_to "Clients", clients_path %>
      </li>
      <li class="item">
        <%= link_to "Add Client", new_client_path %>
      </li>

    </ul>